################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Cloximmo.be
/Cloximmo.be/obj
/Cloximmo.be/bin
