<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="SpainKeys4YouXml" connectionString="http://spainkeys4you.com/feedde.php" />
    <add name="Cloximmo" connectionString="https://www.cloximmo.be/_functions-dev/" />
  </connectionStrings>
</configuration>